#presentation {
  width: 100%;
  display: flex;
  .description {
    background-color: salmon;
    color: rgb(255, 223, 196);
    font-size: 18px;
    width: 65%;
    padding: 4rem 4rem 4rem 10rem;
    h1 {
      color: white;
      font-size: 12px;
      text-transform: uppercase;
    }
    h3 {
      color: rgb(255, 223, 196);
      font-size: 64px;
      text-transform: uppercase;
    }
    p.intro {
      color: rgb(255, 223, 196);
      font-size: 26px;
      font-weight: 600;
    }
  }
  .softwares {
    background-color: rgb(255, 223, 196);
    color: salmon;
    font-size: 18px;
    width: 35%;
    padding: 4rem 4rem 4rem 4rem;
    h1 {
      color: salmon;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

.skills {
  display: flex;
  background-color: rgb(240, 240, 240);
  width: 100%;
  padding: 3rem 15rem 3rem 15rem;
  h1 {
    color: rgb(99, 99, 99);
    font-size: 12px;
    text-transform: uppercase;
  }  
}
.card {
  border-radius: 10px;
  width: 30%;
  border: 1px solid rgb(225, 225, 225);
  transition: .18s ease all;
  &:hover {
    box-shadow: 0px 1px 4px rgba(0,0,0,.05), 0px 2px 3px rgba(0,0,0,.08), 0px 1px 3px rgba(0,0,0,.1);
    transform: translateY(-5px);
    //transition: .3s ease all;
  }
}
.card-img {
  border-radius: 10px 10px 0px 0px;
}
.card-info {
  padding: 1rem 2.5rem 0.5rem 2.5rem;
  h1 {
    color: rgb(99, 99, 99);
    font-size: 12px;
    text-transform: uppercase;
  }
  p {
    color: rgb(99, 99, 99);
    font-size: 15px;
  }
}