<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.linkedin.com/in/harold-ngano-10a9a457/"><i class="fab fa-linkedin-in"></i></a>
    <a target="_blank" href="https://github.com/Samawhim"><i class="fab fa-github"></i></a>
    <%= link_to root_path do %><i class="fas fa-envelope"></i><% end %>
  </div>
  <div class="footer-copyright">
    Let's build something great together <i class="fas fa-heart"></i>
  </div>
</div>
