<div class="navbar sticky-top navbar-light">
  <%= link_to "Harold Ngano", root_path, class: "navbar-brand" %>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <%= link_to "h.ngano@gmail.com", root_path, class: "navbar-email" %>
  </div>
</div>