<div class="navbar">
  <div class="mr-auto">
    <%= link_to "Harold Ngano", root_path, class: "navbar-brand" %>
  </div>
  <div>
    <%= link_to "work", works_path, class: "navbar-work" %>
    <%= link_to "More about us", about_path %>
  </div>
</div>