<div class="navbar">
  <div class="mr-auto">
    <%= link_to "Harold Ngano", root_path, class: "navbar-brand" %>
  </div>
  <div>
    <%= link_to "h.ngano@gmail.com", root_path, class: "navbar-email" %>
    <%= image_tag "photo_CV.png", id: 'perso-pic', alt: "Harold Ngano", width: 50 %>
  </div>
</div>