<div id='presentation'>
  <div class='description'>
    <h1>About me</h1>
    <h3>360° experience</h3>
    <p class='intro'>After 8 years working as a graphic/web designer, specializing in visual identity/communication and interface design</p> 
    <p>I learned through Le Wagon's coding bootcamp to code and manage web developement projects to start over as a Web Developer
    <br><br>Can't wait to exchange with you all ;)</p>
  </div>
  <div class='softwares'>
    <h1>softwares</h1>
    <%= link_to "More about us", about_path %>
    <ul>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
</div>
<div class='skills'>
  <div class='card'>
    <%= image_tag 'photo_CV.png', class: 'card-img', alt: 'design' %>
    <div class='card-info'>
      <h1>Design</h1>
      <p>Art direction / Branding and all the necessary print communication support</p>
    </div>
  </div>
</div>