.navbar {
  background-color: white;
  height: 55px;
  padding: 0% 7%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 0px 2px lightgrey;
  position: sticky;
  top: 0px;
  a {
    color: rgb(25, 25, 25);
    font-weight: 600;
    &:hover {
      color: rgb(55, 55, 55);
    }
  }
}